body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(225, 236, 225);
}

header, footer {
  background-color: rgb(150, 187, 150);
  color: rgb(62, 87, 62); 
}

header {
  text-align: center;
}

/* set footer box */
  footer {
    margin: 0px auto;
    /* width: 960px; */
    height: 40px;
}
/* center navigation links within footer */
footer > nav > ul > li {
    display: inline-block;
    width: 300px;
    text-align: center; 
    padding: 10px;
}

footer > nav > ul > li > a {
  color: rgb(62, 87, 62);    
}

footer > nav > ul > li#copy {
  color: rgb(245, 245, 245);
}
