body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(225, 236, 225);
}

header, footer {
  background-color: rgb(150, 187, 150);
  color: rgb(62, 87, 62); 
}

header {
  text-align: center;
  border-top: solid; rgb(62, 87, 62);
  border-bottom: solid; rgb(62, 87, 62);
}

article > img {
  width: 215px;
  height: 230px;
  border-style: solid; color: rgb(62, 87, 62);
  display: inline-block;
  margin: 10px;
}

/* set footer box */
  footer {
    margin: 0px auto;
    /* width: 960px; */
    height: 40px;
}
/* center navigation links within footer */
footer > nav > ul > li {
    display: inline-block;
    width: 200px;
    text-align: center; 
    padding: 10px;
}

footer > nav > ul > li > a {
  color: rgb(62, 87, 62);    
}

